<%- include('./fragments/header.ejs') %>
            <main>
                <h2>New account</h2>
                <form class="form">
                    
                    
                        <label for="email">E-mail:<sup>*</sup></label>
                        <input type="text" name="email" id="email"/>
                    
                        <label for="password">Password:<sup>*</sup></label>
                        <input type="text" name="password" id="password"/>
                

                        <div class="form-buttons">
                        <a href="" class="form-button-submit"> Register</a>
                        <a href="" class="form-button-cancel"> Cancel</a>
                    </div>

                </form>
                
                
            </main>
            <footer>
                Radosław, Kwiatkowski, s17430
            </footer>
</body>
</html>

