<%- include('./fragments/header.ejs') %>
            <main>
                <h2>Signup form for Molten Core + Blackwing Lair on 15.11.2020</h2>

                

                <form class="form">

                        <label for="name">Name:<sup></sup></label>
                        <input type="text" name="name" id="name" value="Grimaxe" disabled/>
                    
                        <label for="player-class">Class:<abbr title="required" aria-label="required"></abbr></label>
                        <input type="text" name="playerClass" id="playerClass" value="Warrior" disabled/>
                    
                        <label for="player-role">Role<abbr title="required" aria-label="required"></abbr>*</label>
                        <input type="text" name="player-role" id="player-role"/>
                    
                        <label for="extra-notes">Notes</label>
                        <input type="text" name="gearScore" id="gearScore"/>
                    
                    <div class="form-buttons">
                        <a href="" class="form-button-submit"> Add</a>
                         <a href="" class="form-button-cancel"> Cancel</a>
                    </div>
                </form>

            </main>
            <footer>
                Radosław, Kwiatkowski, s17430
            </footer>
</body>
</html>

