<%- include('../../fragments/header.ejs') %>

            <main>
                <h2>Incoming raids</h2>
                
                <table class="raids-table">
                    <thead>
                        <tr>
                            <th>Raid</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Players Signed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Molten Core + Blackwing Lair</td>
                            <td>15.11.2020</td>
                            <td>19.00</td>
                            <td>42/40</td>
                            <td>
                                <ul class="list-actions-signup">
                                    <li>
                                        <a href="signup-details.html" class="sign-for-raid">View</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>Temple of Ahn'Qiraj</td>
                            <td>18.11.2020</td>
                            <td>19.00</td>
                            <td>-</td>
                            <td>
                                <ul class="list-actions-signup">
                                    <li>
                                        <a href="" class="sign-for-raid">View</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                        <td>Molten Core + Blackwing Lair</td>
                        <td>22.11.2020</td>
                        <td>19.00</td>
                        <td>10/40</td>
                        <td>
                            <ul class="list-actions-signup">
                                <li>
                                    <a href="" class="sign-for-raid">View</a>
                                </li>
                            </ul>
                        </td>
                    </tr>



                    <tr>
                        <td>Temple of Ahn'Qiraj</td>
                        <td>25.11.2020</td>
                        <td>19.00</td>
                        <td>2/40</td>
                        <td>
                            <ul class="list-actions-signup">
                                <li>
                                    <a href="" class="sign-for-raid">View</a>
                                </li>
                            </ul>
                        </td>
                    </tr>


                    
                    <tr>
                        <td>Naxxramas</td>
                        <td>29.11.2020</td>
                        <td>18.30</td>
                        <td>13/40</td>
                        <td>
                            <ul class="list-actions-signup">
                                <li>
                                    <a href="" class="sign-for-raid">View</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a href="" class="button-add">Add new Raid</a>
            </main>

<%- include('../../fragments/footer.ejs') %>

