<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>New raid</h2>
                <form class="form">
                    
                        
                        <label for="name">Name:<sup>*</sup></label>
                        <input type="text" name="name" id="name"/>
                        <span id="errorName" class="error-text"></span>
                        
                        
                        <label for="raid-date">Date:<sup>*</sup></label>
                        <input type="text" name="email" id="email"/>
                        <span id="errorDate" class="error-text"></span>
                    
                        <label for="raid-time">Time:<sup>*</sup></label>
                        <input type="text" name="guildRank" id="guildRank"/>
                        <span id="errorTime" class="error-text"></span>

                    
                        <label for="raid-info">Info:</label>
                        <input type="text" name="playerClass" id="playerClass"/>
                        <span id="errorRaid-info" class="error-text"></span>
                    
                    
                    <div class="form-buttons">
                        <a href="" class="form-button-submit"> Add</a>
                         <a href="" class="form-button-cancel"> Cancel</a>
                    </div>

                </form>
                
                
            </main>
<%- include('../../fragments/footer.ejs') %>

