<%- include('./fragments/header.ejs') %>

    <main>
        <h2>Player details</h2>

        <table>
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Guild Rank</th>
                    <th>Gear Score</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Grimaxe</td>
                    <td>Raider</td>
                    <td>78</td>
                    <td>radeksjdi1@gmail.com</td>
                </tr>
            </tbody>
        </table>

        <h2>Raids history</h2>
        <table>
            <thead>
                <tr>
                    <th>Raid Name</th>
                    <th>Date</th>
                    <th>Role</th>
                    <th>Info</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Blackwing Lair</td>
                    <td>7.10.2020</td>
                    <td>DPS</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Zul Gurub</td>
                    <td>7.10.2020</td>
                    <td>DPS</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Ahn Qiraj 40</td>
                    <td>14.10.2020</td>
                    <td>DPS</td>
                    <td>late</td>
                </tr>

                <tr>
                    <td>Ahn Qiraj 20</td>
                    <td>14.10.2020</td>
                    <td>Tank</td>
                    <td>-</td>
                </tr>

            </tbody>
        </table>

        <a href="">Back</a>
    </main>


    <footer>
        Radosław, Kwiatkowski, s17430
    </footer>
</body>

</html>