<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Players List</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Rank</th>
                    <th>Class</th>
                    <th>Gear Score</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Grimaxe</td>
                    <td>grimmy1986@gmail.com</td>
                    <td>Raider</td>
                    <td>Warrior</td>
                    <td>78</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Remove</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- Tu wstaw dodatkowe wiersze -->
                <tr>
                    <td>Bearhug</td>
                    <td>bear12@gmail.com</td>
                    <td>Guild Master</td>
                    <td>Druid</td>
                    <td>81</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Remove</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Omer</td>
                    <td>patrick1@gmail.com</td>
                    <td>Officer</td>
                    <td>Shaman</td>
                    <td>78</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Remove</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            
        </table>
        <a href="player-form.html" class="button-add">Add new player</a>
    </main>

<%- include('../../fragments/footer.ejs') %>